form {
	max-width: 100%;
	padding: 3rem 2rem 0 2rem;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	@media screen and (max-width: $tabletBreakpoint) {
		padding: 2.7rem 1.5rem 0 1.5rem;
		}
}

.group {
	position: relative;
	margin-bottom: 45px;
}
