
header {
	display: block;
    background: $mainBg;
	width: 100%;
	height: 120px;

	z-index: 996;

	@media screen and (max-width: $tabletBreakpoint) {
		height: 100px;
		}
	}	


.logo {
	display: block;
	padding-top: 15px;
	margin: 0 auto;
	width: 150px;
	height: 40px;

	@media screen and (max-width: $tabletBreakpoint) {
		position: absolute;
		right: 8px;
		top: 15px;
		}
	}

	
.nav { 
	background-color: $mainBg;
	color: #fff; 
	margin: 8px 0 0 0;
	text-align: center;

	ul {
		 margin: 0 auto;
		 display: inline-block;
		}

	li {
		display: inline; 

		@media screen and (max-width: $tabletBreakpoint) {
		display: block;
		padding: 8px 0 8px 10px;
		background-color: $mainBg;
			}
		}

	a {
		text-decoration: none; 
		font-family: $headerFont;
		font-size: 1.6rem;
		font-weight: 200;
		color: #fff;
		padding: 10px;

		transition: all ease-in-out .4s;
		
		&:hover {
		color: $hoverColour;
		}

		}

	@media screen and (max-width: $tabletBreakpoint) {
		width: 240px;
		text-align: left;
		display: none;
		margin: 0;
		overflow: hidden;
		padding-top: 23px;
	    position: absolute;
	    left: 0;
	    z-index: 998;
		}

	}
	


// @Media requests for nav-btn

	
@media screen and (max-width: $tabletBreakpoint) {


.nav-btn {
	position: absolute;
	left: 15px;
	width: 50px;
	display: block; 
	background-color: $mainBg;
	color: #ffffff;
	font-family: $headerFont;
	letter-spacing: 4px;
	font-weight: 200;
	text-align:center;
	cursor: pointer;
	margin-top: 30px;
	}	
	
.nav-btn:before {
	position: fixed;
	left: 10px;
		}				
	
#burger-container{
    position: relative;
    width: 60px;
    height: 60px;
	}

#burger{
	width: auto;
    cursor: pointer;
    display: block;
	}

#burger span{
    background: #eee;
    display: block;
    width: 45px;
    height: 7px;
    margin-bottom: 8px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.4s;
	}

#burger-container.open span:nth-child(2){
    width: 0;
    opacity: 0;
	}

#burger-container.open span:nth-child(3){
    transform: rotate(45deg);
    top: -16px;
	}

#burger-container.open span:nth-child(1){
    transform: rotate(-45deg);
    top: 14px;
	}

}