

canvas {
  display: block;
  vertical-align: bottom;
  }

.hero {
  display: block;
  z-index: 993;
  width: 100%;
  height: 450px;
  -webkit-filter: sepia(2);
  filter: sepia(2);
  }

.typewrite {
  z-index: 995;
  position: relative;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 500px;
  }

.typewrite > .wrap {
  text-align: center;
  color: #000;
  border-right: 0.08em solid #fff;
  }

h1.typewrite {
  text-shadow: $textShadow;
  text-align: center;
  }



/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  display: block;
  width: 100%;
  height: 450px;
  opacity: .9;
  margin: 0 auto;
  background-image: url("../img/banner.jpg");
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  }
