

@import "reset";
@import "mixins";
@import "variables";
@import "typography";
@import "layout";
@import "header";
@import "pageheader";
@import "hero";
@import "widgets";
@import "form";
@import "ui/buttons";
@import "ui/input-boxes";
@import "footer";

// Social Icons

.social {

    a {
    	color: transparent;
      border-bottom: 0;
    	}

    svg {
    	width: 3em;
		  height: 3em;
    	fill: #ffffff;
    	transition: all ease-in-out .4s;
    	}

	svg:hover {
		fill: $hoverColour;
		}
	}


.social-hero {
	display: block;
  width: 270px;
	text-align: center;
	}

// Services Icons

svg.services-icon {
  display: block;
  margin: 0 auto;
  width: 5em;
  height: 5em;
  fill: $mainBg;
  color: $mainBg;
  }

// Contact Icons

svg.contact-icon {
  display: inline-block;
  width: 3em;
  height: 3em;
  color: $mainBg;

  @media screen and (max-width: $tabletBreakpoint) {
    display: block;
    width: 2.4em;
    height: 2.4em;
  }
}

a.contact-info {
  position: relative;
  top: -17px;
  margin-left: 15px;

  @media screen and (max-width: $tabletBreakpoint) {
    top: 8px;
    margin-left: 0;
    font-size: 1rem;
  }
}
// For Style Guide

.colourBox {
	display: block;
	width: 80%;
	height: 80px;
}

#mainBg {
	background: $mainBg;
}

#secondBg {
	background: $secondBg;
}

#hoverColour {
	background: $hoverColour;
}

#linkColour {
	background: $linkColour;
}

#linkColourHover {
	background: $linkColourHover;
}
