

@import "reset";
@import "mixins";
@import "variables";
@import "typography";
@import "layout";
@import "header";
@import "ui/buttons";
@import "hero";
@import "footer";

// SOCIAL ICONS

.social {

    a {	
    	color: transparent;
    	}

    svg {
    	width: 3em;
		height: 3em;
    	fill: #ffffff;
    	transition: all ease-in-out .4s;
    	}

	svg:hover {
		fill: $hoverColour;
		}
	}


.social-hero {
	display: block;
    width: 270px;
	text-align: center;
	}


// PAGE HEADER 
	

.pageheader {
	position: relative;
	width: auto;
	height: auto;
	background-image: url('../images/maze.png');
	background-repeat: repeat;
	margin-top: 40px; 
	padding: 7px 40px 10px 20%;
}

.pageheader h1 {
	font-size: 2.0rem;
}	

.pageheader p, .pageheader a {
	padding-top: 5px;
    font-size: 1.1rem;
}	
	

// @MEDIA REQUESTS FOR PAGE HEADER  
	

@media screen and (max-width: 660px) {

	.pageheader {
		padding: 7px 40px 10px 10px;

		h1 {
			font-size: 1.6rem;
		}

		p, a {
			padding-top: 10px;
			font-size: 0.9rem;
		} 

	}
	

	
	.pageheader p, .pageheader a {
		
	}	

}	

// For Style Guide 

.colourBox {
	display: block;
	width: 100%;
	height: 80px;
}

#mainBg {
	background: $mainBg;
}

#secondBg {
	background: $secondBg;
}

#hoverColour {
	background: $hoverColour;
}

#linkColour {
	background: $linkColour;
}

#linkColourHover {
	background: $linkColourHover;
}