

@import "reset";
@import "mixins";
@import "variables";
@import "typography";
@import "layout";
@import "header";
@import "pageheader";
@import "hero";
@import "form";
@import "ui/buttons";
@import "ui/input-boxes";
@import "footer";

// SOCIAL ICONS

.social {

    a {
    	color: transparent;
    	}

    svg {
    	width: 3em;
		height: 3em;
    	fill: #ffffff;
    	transition: all ease-in-out .4s;
    	}

	svg:hover {
		fill: $hoverColour;
		}
	}


.social-hero {
	display: block;
    width: 270px;
	text-align: center;
	}

// For Style Guide

.colourBox {
	display: block;
	width: 80%;
	height: 80px;
}

#mainBg {
	background: $mainBg;
}

#secondBg {
	background: $secondBg;
}

#hoverColour {
	background: $hoverColour;
}

#linkColour {
	background: $linkColour;
}

#linkColourHover {
	background: $linkColourHover;
}
