/*----
FONTS
----*/

@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Slab');


// Colours

$mainBg: #000000;
$secondBg: #ff2943;
$hoverColour: #0C3AF2;
$linkColour: #0C3AF2;
$linkColourHover: #3655d2;


// Breakpoints

$tabletBreakpoint: 859px;
$mobileBreakpoint: 500px;

// Typography

$headerFont: 'Roboto Slab', serif;
$pFont: 'Nunito', sans-serif;


// Other

$footerHeader: #ffffff;

